<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Photos</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="photos.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="photos.js"></script>
    <script src="photo_app.js"></script>
    <script src="controllers/photos_ctrl.js"></script>
  </head>
  <body ng-app="Photos" ng-controller="PhotosCtrl">
    <main class="container">
    <div class="row">

      <div class="col-xs-2 pusher"></div>
      <div class="col-xs-2" id="filter-options">
        <select ng-model="instagramFilter">
          <option value="">All Filters</option>
          <option value="{{ filter | lowercase }}" ng-repeat="filter in instagramFilters">{{ filter }}</option>
        </select>
        <div ng-repeat="hashtag in allHashtags" class="checkbox-container">
          <label>
            <input type="checkbox"
                   value="{{ hashtag }}"
                   ng-checked="selectedHashtags.indexOf(hashtag) > -1"
                   ng-click="toggleSelection(hashtag)">
            {{ hashtag | limitTo: 20}}{{ hashtag.length > 20 ? '...' : '' }}
          </label>
        </div>
      </div>

      <div class="col-xs-10">
        <div class="row">
          <div ng-repeat="image in images | filter: { filter: instagramFilter } | filter: hashtagFilter ">
            <div class="clearfix" ng-if="$index % 3 == 0"></div>
            <div class="col-sm-4">
              <h3>{{ image.user.username }}</h3>
              <h4> Posted at {{ image.created_time | date:'hh:mma' }}</h4>
              <div>
                Filter: {{ image.filter }}
              </div>
              <div>
                Likes: {{ image.likes.count | number }} Comments: {{ image.comments.count | number }}
              </div>
              <a class="image-container" href="{{ image.link }}" target="_blank">
                <img ng-src="{{ image.images.standard_resolution.url }}">
              </a>
              <br>
              <div>
                Tags: <span ng-repeat="tag in image.tags">{{tag}}{{ $last ? '' : ', ' }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    </main>
  </body>
</html>
